blinker
certifi
charset-normalizer
click
coverage
factory-boy
Faker
flake8
Flask
freezegun
idna
iniconfig
isort
itsdangerous
Jinja2
matplotlib
MarkupSafe
mccabe
mock
mypy
mypy-extensions
packaging
pep8
pluggy
pycodestyle
pydocstyle
pyflakes
pylama
pytest
python-dateutil
requests
setuptools
six
snowballstemmer
text-unidecode
typing_extensions
urllib3
Werkzeug
